@media(max-width: 1400px) {
  .footer__box-menu {
    flex-wrap: wrap;
  }

  .footer__item-city {
    display: none;
  }
}



@media(max-width: 1200px) {
  .header__inner {
    padding-left: 16px;
  }

  .header__box {
    max-width: 810px;
    margin-top: 120px;
  }

  .header__title {
    max-width: 390px;
    font-size: 36px;
    line-height: 42px;
  }

  .text {
    font-size: 18px;
    line-height: 21px;
  }

  .transfers__img {
    width: 355px;
    height: 266px;
  }

  .atv__img {
    img {
      width: 268px;
      height: 205px;
    }

  }

  .footer__item-phone {
    width: 250px;
  }


}

@media(max-width: 1000px) {
  .header-top__work-time {
    display: none;
  }

  .header-top {
    justify-content: center;
  }

  .header__box {
    margin-top: 90px;
    padding: 15px 30px;
  }

  .transfers__img {
    display: none;
  }

  .title {
    font-size: 28px;
    line-height: 33px;

    span {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .transfers__price-text {
    font-size: 18px;
    line-height: 21px;
  }

  .residence__item {
    width: 480px;
  }

  .residence__inners {
    display: none;
  }

  .residence__inner {
    padding-top: 0;
  }

  .residence__suptitle {
    border-bottom: 2px solid $main;
    padding-bottom: 30px;
  }


  .container-block {
    padding: 0 40px;
  }

  .transfers__title,
  .transfers__item,
  .residence__title,
  .residence__suptitle,
  .excursion__inner,
  .atv__wrapper {
    padding-left: 25px;
  }

  .residence__item-text {
    padding-left: 25px;
  }

  .residence__item-li {
    padding-left: 0;

    &::before {
      left: -10px;

    }
  }

  .residence__btn {
    margin-left: 25px;
  }

  .footer__content {
    flex-wrap: wrap;
  }

  .footer__box-menu {
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  .footer__mail {
    margin-bottom: 50px;
  }

  .footer__item-phone {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
  }

}

@media(max-width: 900px) {
  .transfers__gallery {
    display: none;
  }

  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL


  .contacts__phone-btn,
  .popup__phone-btn {
    margin-bottom: 30px;
    &+.contacts__phone-btn {
      margin-left: 0;
    }
    &+.popup__phone-btn {
      margin-left: 0;
    }
  }

  .contacts__phone,
  .popup__phone {
    width: 200px;
  }

  .contacts__item, 
  .popup__item {
    padding-top: 10px;
    width: 200px;
    justify-content: center;
    align-items: flex-start;

    .social {
      padding-top: 20px;
    }
  }

  .contacts__mail,
  .popup__mail {
    padding-right: 0;
  }



  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL


}

@media(max-width: 850px) {
  .header__title {
    max-width: 305px;
    font-size: 28px;
    line-height: 33px;
  }

  .menu__list {
    font-size: 16px;
    line-height: 21px;
  }

  .text {
    font-size: 16px;
    line-height: 18px;
  }

  .header__box {
    max-width: 636px;

  }

  .residence__inner {
    flex-wrap: wrap;

    ul {
      padding: 0;
    }
  }

  .titleh3,
  .residence__item-text {
    padding-left: 0;
  }

  .residence__item {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;

    &-li {
      &::before {
        display: none;
      }
    }

  }
}

@media(max-width: 750px) {
  .logo {
    width: 62px;
    height: 55px;
  }

  .header__wrapper {
    padding: 10px 0;
  }

  .header__inner {
    display: none;
  }

  .menu__btn {
    display: block;
  }

  .video__media {
    display: none;
  }

  .atv__img {
    display: none;
  }

}

@media(max-width: 700px) {
  .header__box {
    max-width: 380px;
  }

  .excursion__text {
    span {
      display: block;
      padding-top: 15px;
    }
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }

  .footer__box-menu {
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;

  }

  .footer__item {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__item-phone {
    margin-bottom: 0;
  }
}

@media(max-width: 550px) {
  .excursion {
    height: fit-content;
    background-position: right;
    padding-bottom: 0;
  }

  .excursion__slider-inner {
    padding: 0;
  }

  .excursion__wrapper {
    position: inherit;
  }

  .gallery-style {
    width: 246px;
    height: 175px;

    img {
      width: 246px;
      height: 175px;
    }
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $text-fff;
    background-color: rgba(32, 48, 63, 0.6);
  }

  .slick-next {
    top: 122px;
    margin-right: -10px;
  }

  .slick-prev {
    top: 124px;
    margin-left: -10px;
  }

  .footer__mail {
    margin-bottom: 30px;
  }

  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL


  .contacts__box,
  .popup__box {
    flex-wrap: wrap;
  }

  .popup__items-text,
  .contacts__items-text {
    margin-left: 0;
  }


  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL

}

@media(max-width: 500px) {

  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL


  .popup__inner,
  .contacts__inner {
    justify-content: center;
  }

  .contacts__phone,
  .popup__phone {
    width: 300px;
    justify-content: center;
  }

  .contacts__item,
  .popup__item {
    width: 300px;
  }

  .contacts__mail,
  .popup__mail {
    width: 100%;
    text-align: center;
  }

  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL
  // POPUP GLOBAL

}

@media(max-width: 450px) {
  .section {
    padding: 30px 0;
  }

  .header__box {
    max-width: 300px;
    padding: 14px 25px;
  }

  .transfers__gallery-text {
    font-size: 18px;
    line-height: 21px;
  }

  .footer__content {
    padding: 0;
  }
}

@media(max-width: 365px) {
  .mardvey__link {
    letter-spacing: normal;
  }
}