@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header__ful-screen {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/content/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.header__bg--wrapper {
  position: relative;
  z-index: 50;
}

.header__line {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  font-family: 'Roboto Condensed',
    sans-serif;
  font-weight: 400px;
}


.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // position: relative;

}

.header__inner {
  max-width: 1400px;
  width: 100%;
  padding-left: 80px;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 2px solid $main;
}

.header-top__work-time {
  width: 282px;
  color: $dark-blue;
  text-transform: uppercase;
}

.social__list {
  display: inline-block;

  &+.social__list {
    margin-left: 25px;
  }
}

.social-img {
  width: 30px;
  height: 30px;
}

.header-top--wrapper {
  align-items: center;
  max-width: 530px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  text-align: center;
  padding: 18px 20px 0px 20px;
}

.menu {
  padding-right: 175px;
  color: $dark-blue;
  text-transform: uppercase;
}

.menu__list {
  display: inline-block;
  position: relative;
  padding-bottom: 18px;

  &+.menu__list {
    margin-left: 70px;
  }

  &:hover {
    .sub-menu {
      display: block;
      z-index: 10;
    }
  }
}

.sub-menu {
  display: none;
  width: 320px;
  padding: 15px 15px 5px 15px !important;
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: $main;
  color: #fff;
  left: -10px;
  top: 39px;
}

.sub-menu__list {
  z-index: 15;
  margin-bottom: 10px;
}

.menu__btn {
  max-width: 30px;
  z-index: 100;
  cursor: pointer;
  display: none;
}

.row {
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: $dark-blue;
  border-radius: 5px;

  &:last-child {
    width: 20px;
    margin-left: auto;
  }
}

.menu__btn.active {
  .row1 {
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    background-color: #fff;
    transition: all .5s ease 0s;
  }

  .row3 {
    display: none;
  }

  .row2 {
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
    background-color: #fff;
    transition: all .5s ease 0s;
  }
}

.header__box {
  max-width: 1161px;
  width: 100%;
  margin-top: 186px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 30px 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400px;
}

.header__title {
  max-width: 516px;
  width: 100%;
  font-size: 48px;
  line-height: 56px;
  padding: 0;
}

.header__box-text {
  margin-bottom: 30px;
  font-family: 'Roboto Condensed',
    sans-serif;
  font-weight: 400px;
  font-size: 22px;
  line-height: 24px;
  color: $dark-blue;
}

// end header

// start section transfers


.transfers {
  background-color: $main;
  color: $text-fff;
}

.transfers__title {
  color: $text-fff;
  padding-left: 90px;

}

.transfers__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $text-fff;
  padding-bottom: 30px;
}

.transfers__item {
  max-width: 858px;
  width: 100%;
  padding-right: 10px;
  padding-left: 90px;
}

.transfers__img {
  width: 450px;
  height: 337px;
}


.transfers__text {
  margin-bottom: 28px;
}

.transfers__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &--text {
    padding: 10px 0;
  }
}

.transfers__items {
  padding: 30px 0;
  text-align: center;
  border-bottom: 2px solid $text-fff;
}

.transfers__items-title {
  color: $text-fff;
}

.transfers__price-text {
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 30px;
}

.transfers__btn {
  background-color: $text-fff;
  color: $main;
}

.transfers__gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
}

.transfers__gallery-text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: $main;
  padding: 9px 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto',
    sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;


}

// end section transfers

// start section residence

.residence {
  background-color: $text-fff;

}

.residence__title {
  padding-left: 90px;

}

.residence__suptitle {
  padding-left: 90px;
  margin-bottom: 50px;
}

.residence__inners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 2px solid $main;
}

.residence__items {
  text-align: center;
  width: 320px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.residence__items-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.residence__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.residence__item {
  width: 630px;
}


.residence__item-text {
  padding-left: 90px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

.residence__item-li {
  padding-left: 90px;
  margin-bottom: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 80px;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-blue;
  }
}


.residence__btn {
  margin-left: 90px;
  margin-top: 50px;
}


.residence__gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



// end section residence

// start section excursion

.excursion {
  background-image: url(../images/content/excursion-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1202px;
  position: relative;
}

.excursion__inner {
  padding-left: 90px;
}

.excursion__text {
  margin-bottom: 30px;
  font-weight: 700;

  span {
    padding-left: 30px;
    color: $main;
  }
}

.excursion__wrapper {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  max-width: 1500px;
  margin: 0 auto;
}

.excursion__slider-inner {
  padding: 0 75px;
}

.excursion__slider-item.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin: 30px;
}

// end section excursion

// start section atv
.atv{
  background-color: $main;
}
.atv__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
}

.atv__box {
  max-width: 756px;
  width: 100%;
}

.atv__title {
  color: $text-fff;
}

.atv__text {
  color: $text-fff;
  margin-bottom: 30px;
}

.atv__price {
  color: $text-fff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}
.atv__btn{
  background-color: $text-fff;
  color: $dark-blue;
}
.atv__img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  img{
    width: 384px;
    height: 294px;
  }
}
// end section atv

// start section contacts

.contacts{
  background-color: $text-fff;
}
.contacts__text{
  margin-bottom: 30px;
}
.contacts__form{
  margin-bottom: 50px;
}
.contacts__box{
  max-width: 1144px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts__inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contacts__items,
.contacts__items-text {
  max-width: 544px;
  width: 100%;
  padding: 14px 25px;
  background-color: #fff;
  font-size: 18px;
  line-height: 21px;
  color: $dark-blue;
  border: 1px solid $main;
  border-radius: 5px;
  margin-bottom: 30px;
  &::placeholder{
    color: #D1D1D1;
    font-size: 18px;
    line-height: 21px;
  }
}
.contacts__items-text{
  margin-left: 10px;
  resize: none;
}
.conatcts__btn{
  margin: 0 auto;
  display: flex;
}
.contacts__phone,
.contacts__item {
  width: 50%;
}
.contacts__phone{
  display: flex;
  flex-wrap: wrap;
}
.contacts__phone-btn{
  background-color: transparent;
  border: 2px solid $main;
  color: $main;
  &+.contacts__phone-btn{
    margin-left: 35px;
  }
}
.contacts__item{
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  flex-wrap: wrap;

}
.contacts__mail{
  padding-right: 35px;
}
// end section contacts


// font-family: 'Roboto Condensed',
// sans-serif;
// font-weight: 400px;


@import 'media';